.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 4.75rem;
  height: 3.25rem;
  background-color: black;
  color: red;
  font-family: Courier;
  font-size: 2rem;
}