@import "colors";

.window {
  border: .25rem solid $color-windows-beige;
}

.window__header {
  display: flex;
  align-items: center;
  height: 2.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  background-color: $color-windows-blue;
  font-size: 1.25rem;
  color: white;
}

.window__header-icon {
  width: 1.875rem;
  height: 2rem;
  background-position: -2.25rem -3.5625rem;
}

.window__header-title {
  .window__header-icon + & {
    margin-left: 0.25rem;
  }
}

.window__header-title {
  &:hover {
    cursor: default;
  }
}

.window__content{
  background-color: $color-silver;
}